## INTRODUCTION TO PYTHON

### Part I

In [1]:
# Import Required Modules
# string to get all letters and digits
import string

# for random operation
import random

# for date and time operation
from datetime import datetime

# numpy and pandas for numbers and DataFrame operation
import numpy as np
import pandas as pd

In [2]:
# start time
start_time = datetime.now()
start_time

datetime.datetime(2024, 12, 30, 11, 18, 23, 787848)

> 1. Create a pandas data frame consisting of 4 columns and 20 rows.
> 2. Column 1 should have values between 0 to 25.

In [3]:
col_1 = pd.Series(np.random.randint(0, 25, 20))
col_1

0      9
1      2
2      4
3      6
4      6
5     24
6      2
7      4
8      4
9     16
10    23
11    13
12    10
13     0
14     4
15     9
16     6
17     4
18     0
19    15
dtype: int32

> 3. Column 2 should have values between -10 to 10.

In [4]:
col_2 = pd.Series(np.random.randint(-10, 10, 20))
col_2

0    -10
1      6
2     -7
3      9
4      9
5      5
6      0
7      1
8     -1
9     -3
10   -10
11     4
12    -9
13    -9
14    -7
15    -1
16    -9
17     4
18    -4
19    -7
dtype: int32

> 4. Column 3 should have values by multiplying column 1 and 2.

In [5]:
col_3 = pd.Series(col_1 * col_2)
col_3

0     -90
1      12
2     -28
3      54
4      54
5     120
6       0
7       4
8      -4
9     -48
10   -230
11     52
12    -90
13      0
14    -28
15     -9
16    -54
17     16
18      0
19   -105
dtype: int32

In [6]:
df = pd.DataFrame({"col_1": col_1, "col_2": col_2, "col_3": col_3})
df

    col_1  col_2  col_3
0       9    -10    -90
1       2      6     12
2       4     -7    -28
3       6      9     54
4       6      9     54
5      24      5    120
6       2      0      0
7       4      1      4
8       4     -1     -4
9      16     -3    -48
10     23    -10   -230
11     13      4     52
12     10     -9    -90
13      0     -9      0
14      4     -7    -28
15      9     -1     -9
16      6     -9    -54
17      4      4     16
18      0     -4      0
19     15     -7   -105

> 5. Column 4 should have value “Positive” if column 3 is a positive number.
> 6. Column 4 should have value “Negative” if column 3 is a negative number.

In [7]:
isPositiveOrNegative = lambda num: "Positive" if num > 0 else "Negative" if num < 0 else None
df["col_4"] = df["col_3"].apply(isPositiveOrNegative)
df

    col_1  col_2  col_3     col_4
0       9    -10    -90  Negative
1       2      6     12  Positive
2       4     -7    -28  Negative
3       6      9     54  Positive
4       6      9     54  Positive
5      24      5    120  Positive
6       2      0      0      None
7       4      1      4  Positive
8       4     -1     -4  Negative
9      16     -3    -48  Negative
10     23    -10   -230  Negative
11     13      4     52  Positive
12     10     -9    -90  Negative
13      0     -9      0      None
14      4     -7    -28  Negative
15      9     -1     -9  Negative
16      6     -9    -54  Negative
17      4      4     16  Positive
18      0     -4      0      None
19     15     -7   -105  Negative

> 7. Create a new data frame of 1 column and 20 rows having random alphanumeric values of size 5. Name the column as ‘Password’

In [8]:
def genedatePassword(str_len):
    source_str = string.ascii_letters + string.digits
    rand_str = ""
    for i in range(0, str_len):
        rand_str += source_str[random.randint(0, (len(source_str) - 1))]
    
    return rand_str

In [9]:
df_2 = pd.DataFrame(data = np.full(20, 5), columns = ["Password"])
df_2 = df_2.astype('object')
df_2["Password"] = df_2["Password"].apply(genedatePassword)
df_2

   Password
0     NXRCw
1     aC1eQ
2     Fbzpw
3     19RFK
4     XD1B8
5     cSaH9
6     HUaqi
7     dpnFy
8     7YQTe
9     iAmNk
10    FC6Jc
11    NZTAY
12    LG1n0
13    U7ViI
14    fECSg
15    G9eA6
16    GROig
17    4EbeE
18    oB1qy
19    NHkpq

> 8. Merge both the data frames to one single data frame.

In [10]:
df = pd.concat([df, df_2], axis = 1)
df

    col_1  col_2  col_3     col_4 Password
0       9    -10    -90  Negative    NXRCw
1       2      6     12  Positive    aC1eQ
2       4     -7    -28  Negative    Fbzpw
3       6      9     54  Positive    19RFK
4       6      9     54  Positive    XD1B8
5      24      5    120  Positive    cSaH9
6       2      0      0      None    HUaqi
7       4      1      4  Positive    dpnFy
8       4     -1     -4  Negative    7YQTe
9      16     -3    -48  Negative    iAmNk
10     23    -10   -230  Negative    FC6Jc
11     13      4     52  Positive    NZTAY
12     10     -9    -90  Negative    LG1n0
13      0     -9      0      None    U7ViI
14      4     -7    -28  Negative    fECSg
15      9     -1     -9  Negative    G9eA6
16      6     -9    -54  Negative    GROig
17      4      4     16  Positive    4EbeE
18      0     -4      0      None    oB1qy
19     15     -7   -105  Negative    NHkpq

> 9. Create a 2 new columns i.e. ‘Word’ and ‘Number’ by separating the alphabets and numbers from column “Password”.

In [11]:
def extractAlphabetsOrNumbers(str, return_type):
    return_val = ""
    for ch in str:
        if return_type == "Word" and ch.isalpha():
            return_val += ch
        elif return_type == "Number" and ch.isdigit():
            return_val += ch
        
    return return_val

In [12]:
df["Word"] = df.apply(lambda x: extractAlphabetsOrNumbers(x["Password"], "Word"), axis = 1)
df["Number"] = df.apply(lambda x: extractAlphabetsOrNumbers(x["Password"], "Number"), axis = 1)
df

    col_1  col_2  col_3     col_4 Password   Word Number
0       9    -10    -90  Negative    NXRCw  NXRCw
1       2      6     12  Positive    aC1eQ   aCeQ      1
2       4     -7    -28  Negative    Fbzpw  Fbzpw
3       6      9     54  Positive    19RFK    RFK     19
4       6      9     54  Positive    XD1B8    XDB     18
5      24      5    120  Positive    cSaH9   cSaH      9
6       2      0      0      None    HUaqi  HUaqi
7       4      1      4  Positive    dpnFy  dpnFy
8       4     -1     -4  Negative    7YQTe   YQTe      7
9      16     -3    -48  Negative    iAmNk  iAmNk
10     23    -10   -230  Negative    FC6Jc   FCJc      6
11     13      4     52  Positive    NZTAY  NZTAY
12     10     -9    -90  Negative    LG1n0    LGn     10
13      0     -9      0      None    U7ViI   UViI      7
14      4     -7    -28  Negative    fECSg  fECSg
15      9     -1     -9  Negative    G9eA6    GeA     96
16      6     -9    -54  Negative    GROig  GROig
17      4      4     16  Positive    4EbeE   EbeE      4
18      0     -4      0      None    oB1qy   oBqy      1
19     15     -7   -105  Negative    NHkpq  NHkpq

> 10. Create a new column ‘Anomaly’. This column should have value ‘Found’ if the row entry in ‘Number’ is empty.

In [13]:
df["Anomaly"] = df.apply(lambda x: "Found" if x["Number"] == "" else "", axis = 1)
df

    col_1  col_2  col_3     col_4 Password   Word Number Anomaly
0       9    -10    -90  Negative    NXRCw  NXRCw          Found
1       2      6     12  Positive    aC1eQ   aCeQ      1
2       4     -7    -28  Negative    Fbzpw  Fbzpw          Found
3       6      9     54  Positive    19RFK    RFK     19
4       6      9     54  Positive    XD1B8    XDB     18
5      24      5    120  Positive    cSaH9   cSaH      9
6       2      0      0      None    HUaqi  HUaqi          Found
7       4      1      4  Positive    dpnFy  dpnFy          Found
8       4     -1     -4  Negative    7YQTe   YQTe      7
9      16     -3    -48  Negative    iAmNk  iAmNk          Found
10     23    -10   -230  Negative    FC6Jc   FCJc      6
11     13      4     52  Positive    NZTAY  NZTAY          Found
12     10     -9    -90  Negative    LG1n0    LGn     10
13      0     -9      0      None    U7ViI   UViI      7
14      4     -7    -28  Negative    fECSg  fECSg          Found
15      9     -1     -9  Negative    G9eA6    GeA     96
16      6     -9    -54  Negative    GROig  GROig          Found
17      4      4     16  Positive    4EbeE   EbeE      4
18      0     -4      0      None    oB1qy   oBqy      1
19     15     -7   -105  Negative    NHkpq  NHkpq          Found

> 11. Insert a new column “Date” by inserting the current date. [ format: mmm-dd-yyyy ]

In [14]:
dt_now = datetime.now()
df["Date"] = df.apply(lambda x: dt_now.strftime("%b-%d-%Y"), axis = 1)
df

    col_1  col_2  col_3     col_4 Password   Word Number Anomaly         Date
0       9    -10    -90  Negative    NXRCw  NXRCw          Found  Dec-30-2024
1       2      6     12  Positive    aC1eQ   aCeQ      1          Dec-30-2024
2       4     -7    -28  Negative    Fbzpw  Fbzpw          Found  Dec-30-2024
3       6      9     54  Positive    19RFK    RFK     19          Dec-30-2024
4       6      9     54  Positive    XD1B8    XDB     18          Dec-30-2024
5      24      5    120  Positive    cSaH9   cSaH      9          Dec-30-2024
6       2      0      0      None    HUaqi  HUaqi          Found  Dec-30-2024
7       4      1      4  Positive    dpnFy  dpnFy          Found  Dec-30-2024
8       4     -1     -4  Negative    7YQTe   YQTe      7          Dec-30-2024
9      16     -3    -48  Negative    iAmNk  iAmNk          Found  Dec-30-2024
10     23    -10   -230  Negative    FC6Jc   FCJc      6          Dec-30-2024
11     13      4     52  Positive    NZTAY  NZTAY          Found  Dec-30-2024
12     10     -9    -90  Negative    LG1n0    LGn     10          Dec-30-2024
13      0     -9      0      None    U7ViI   UViI      7          Dec-30-2024
14      4     -7    -28  Negative    fECSg  fECSg          Found  Dec-30-2024
15      9     -1     -9  Negative    G9eA6    GeA     96          Dec-30-2024
16      6     -9    -54  Negative    GROig  GROig          Found  Dec-30-2024
17      4      4     16  Positive    4EbeE   EbeE      4          Dec-30-2024
18      0     -4      0      None    oB1qy   oBqy      1          Dec-30-2024
19     15     -7   -105  Negative    NHkpq  NHkpq          Found  Dec-30-2024

> 12. Insert a new column “Time” by inserting the current time. [ format: hh-mm-ss ]

In [15]:
dt_now = datetime.now()
df["Time"] = df.apply(lambda x: dt_now.strftime("%H-%M-%S"), axis = 1)
df

,col_1,col_2,col_3,col_4,Password,Word,Number,Anomaly,Date,Time
0,9,-10,-90,Negative,NXRCw,NXRCw,,Found,Dec-30-2024,11-18-24
1,2,6,12,Positive,aC1eQ,aCeQ,1,,Dec-30-2024,11-18-24
2,4,-7,-28,Negative,Fbzpw,Fbzpw,,Found,Dec-30-2024,11-18-24
3,6,9,54,Positive,19RFK,RFK,19,,Dec-30-2024,11-18-24
4,6,9,54,Positive,XD1B8,XDB,18,,Dec-30-2024,11-18-24
5,24,5,120,Positive,cSaH9,cSaH,9,,Dec-30-2024,11-18-24
6,2,0,0,None,HUaqi,HUaqi,,Found,Dec-30-2024,11-18-24
7,4,1,4,Positive,dpnFy,dpnFy,,Found,Dec-30-2024,11-18-24
8,4,-1,-4,Negative,7YQTe,YQTe,7,,Dec-30-2024,11-18-24
9,16,-3,-48,Negative,iAmNk,iAmNk,,Found,Dec-30-2024,11-18-24
10,23,-10,-230,Negative,FC6Jc,FCJc,6,,Dec-30-2024,11-18-24
11,13,4,52,Positive,NZTAY,NZTAY,,Found,Dec-30-2024,11-18-24
12,10,-9,-90,Negative,LG1n0,LGn,10,,Dec-30-2024,11-18-24
13,0,-9,0,None,U7ViI,UViI,7,,Dec-30-2024,11-18-24
14,4,-7,-28,Negative,fECSg,fECSg,,Found,Dec-30-2024,11-18-24
15,9,-1,-9,Negative,G9eA6,GeA,96,,Dec-30-2024,11-18-24
16,6,-9,-54,Negative,GROig,GROig,,Found,Dec-30-2024,11-18-24
17,4,4,16,Positive,4EbeE,EbeE,4,,Dec-30-2024,11-18-24
18,0,-4,0,None,oB1qy,oBqy,1,,Dec-30-2024,11-18-24
19,15,-7,-105,Negative,NHkpq,NHkpq,,Found,Dec-30-2024,11-18-24

> 13. Create a new column ‘Comment’. This column should have value ‘Non office hours of working’ if the row entry in ‘Time’ is not between 9 am to 7 pm.

In [16]:
df["Comment"] = df.apply(lambda x: "Non office hours of working" if int(x["Time"][:2]) < 9 or int(x["Time"][:2]) > 18 else "", axis = 1)
df

,col_1,col_2,col_3,col_4,Password,Word,Number,Anomaly,Date,Time,Comment
0,9,-10,-90,Negative,NXRCw,NXRCw,,Found,Dec-30-2024,11-18-24,
1,2,6,12,Positive,aC1eQ,aCeQ,1,,Dec-30-2024,11-18-24,
2,4,-7,-28,Negative,Fbzpw,Fbzpw,,Found,Dec-30-2024,11-18-24,
3,6,9,54,Positive,19RFK,RFK,19,,Dec-30-2024,11-18-24,
4,6,9,54,Positive,XD1B8,XDB,18,,Dec-30-2024,11-18-24,
5,24,5,120,Positive,cSaH9,cSaH,9,,Dec-30-2024,11-18-24,
6,2,0,0,None,HUaqi,HUaqi,,Found,Dec-30-2024,11-18-24,
7,4,1,4,Positive,dpnFy,dpnFy,,Found,Dec-30-2024,11-18-24,
8,4,-1,-4,Negative,7YQTe,YQTe,7,,Dec-30-2024,11-18-24,
9,16,-3,-48,Negative,iAmNk,iAmNk,,Found,Dec-30-2024,11-18-24,
10,23,-10,-230,Negative,FC6Jc,FCJc,6,,Dec-30-2024,11-18-24,
11,13,4,52,Positive,NZTAY,NZTAY,,Found,Dec-30-2024,11-18-24,
12,10,-9,-90,Negative,LG1n0,LGn,10,,Dec-30-2024,11-18-24,
13,0,-9,0,None,U7ViI,UViI,7,,Dec-30-2024,11-18-24,
14,4,-7,-28,Negative,fECSg,fECSg,,Found,Dec-30-2024,11-18-24,
15,9,-1,-9,Negative,G9eA6,GeA,96,,Dec-30-2024,11-18-24,
16,6,-9,-54,Negative,GROig,GROig,,Found,Dec-30-2024,11-18-24,
17,4,4,16,Positive,4EbeE,EbeE,4,,Dec-30-2024,11-18-24,
18,0,-4,0,None,oB1qy,oBqy,1,,Dec-30-2024,11-18-24,
19,15,-7,-105,Negative,NHkpq,NHkpq,,Found,Dec-30-2024,11-18-24,

> 14. Export the data frames to excel, csv, html and json formats.

In [17]:
# excel
df.to_excel('df.xlsx', index = False)
# csv
df.to_csv('df.csv', index = False)
# html
df.to_html('df.html', index = False)
# json
df.to_json('df.json', orient="records")

> 15. Measure and display how much time it takes to execute the code. Optimise your code to reduce the time.

In [18]:
# end time
end_time = datetime.now()
end_time

datetime.datetime(2024, 12, 30, 11, 18, 25, 100644)

In [19]:
execution_time = end_time - start_time
print("Total Execution Time:", execution_time)

Total Execution Time: 0:00:01.312796

### Part II

> - Automate all the tasks listed in part I.
> - Your function should be able to create datasets with N rows. [ Where N is defined by the user. N is any integer. ]
> - Your function should be able to export datasets onto local machine in excel, csv, json, html or all formats. User can choose this.
> - Purpose of this function is to allow user to generate a dataset with N rows and store it on local machine.
> - You might need to write a web of complex interrelated functions

### ipywidgets
> For interactive user experience on Jupyter Notebook I am using ipywidgets library

In [20]:
# Install ipywidgets library to interact with web interface into Jupyter Notebook
# !pip install ipywidgets

In [21]:
import ipywidgets as widgets
print(widgets.__version__)
# from ipywidgets import interact_manual
from IPython.display import display, FileLink

8.0.4

In [22]:
# # Import other required libraties
# # numpy and pandas for numbers and DataFrame operation
# import numpy as np
# import pandas as pd

# # string to get all letters and digits
# import string

# # for date and time operation
# from datetime import datetime

In [23]:
# field to enter number of rows to output
rowsInput = widgets.IntText(
    value=20, # default value
    disabled=False
)

In [24]:
# field to select output formats
exportableFiles = widgets.SelectMultiple(
    options=['Excel', 'CSV', 'HTML', 'JSON'],
    value=['Excel'],
    disabled=False
)

In [25]:
# field to select output formats
submitBtn = widgets.Button(
    description="Submit",
    disabled=False
)

In [26]:
# 1. Create a pandas data frame consisting of 4 columns and N rows. [* N should be user defined]
# 2. Column 1 should have values between 0 to 25.
# 3. Column 2 should have values between -10 to 10.
# 4. Column 3 should have values by multiplying column 1 and 2.

def constructDF():
    n = no_of_rows
    
    lbl2 = widgets.Label("2. Column 1 should have values between 0 to 25.")
    display(lbl2)
    col_1 = pd.Series(np.random.randint(0, 25, n))
    lbl3 = widgets.Label("3. Column 2 should have values between -10 to 10.")
    display(lbl3)
    col_2 = pd.Series(np.random.randint(-10, 10, n))
    lbl4 = widgets.Label("4. Column 3 should have values by multiplying column 1 and 2.")
    display(lbl4)
    col_3 = pd.Series(col_1 * col_2)
    
    return pd.DataFrame({"col_1": col_1, "col_2": col_2, "col_3": col_3})

In [27]:
# 5. Column 4 should have value “Positive” if column 3 is a positive number.
# 6. Column 4 should have value “Negative” if column 3 is a negative number.

def setPositiveNegative(data):
    data["col_4"] = data["col_3"].apply(isPositiveOrNegative)
    return data

In [28]:
# 7. Create a new data frame of 1 column and N rows having random alphanumeric values of size 5. Name the column as ‘Password’
def genedatePassword(str_len):
    source_str = string.ascii_letters + string.digits
    rand_str = ""
    for i in range(0, str_len):
        rand_str += source_str[random.randint(0, (len(source_str) - 1))]
    
    return rand_str

def setPassword():
    data_2 = pd.DataFrame(data = np.full(no_of_rows, 5), columns = ["Password"])
    data_2 = data_2.astype('object')
    data_2["Password"] = data_2["Password"].apply(genedatePassword)
    return data_2

In [29]:
no_of_rows = 0

# the main function to execute entire steps automatically
def Main_Function(e):
    print("Starting the main function")
    start_time = datetime.now()
    print("Start time:", start_time)
    
    global no_of_rows
    
    # get user input for no of rows to generate
    no_of_rows = rowsInput.value
    
    lbl1 = widgets.Label(f"1. Create a pandas data frame consisting of 4 columns and {no_of_rows} rows.")
    display(lbl1)
    main_df = constructDF()

    lbl5 = widgets.Label("5. Column 4 should have value “Positive” if column 3 is a positive number.")
    display(lbl5)
    lbl6 = widgets.Label("6. Column 4 should have value “Negative” if column 3 is a negative number.")
    display(lbl6)
    setPositiveNegative(main_df)

    lbl7 = widgets.Label("7. Create a new data frame of 1 column and 20 rows having random alphanumeric values of size 5. Name the column as ‘Password’")
    display(lbl7)
    data_2 = setPassword()

    lbl8 = widgets.Label("8. Merge both the data frames to one single data frame.")
    display(lbl8)
    main_df = pd.concat([main_df, data_2], axis = 1)

    lbl9 = widgets.Label("9. Create a 2 new columns i.e. ‘Word’ and ‘Number’ by separating the alphabets and numbers from column “Password”.")
    display(lbl9)
    main_df["Word"] = df.apply(lambda x: extractAlphabetsOrNumbers(x["Password"], "Word"), axis = 1)
    main_df["Number"] = df.apply(lambda x: extractAlphabetsOrNumbers(x["Password"], "Number"), axis = 1)

    lbl10 = widgets.Label("10. Create a new column ‘Anomaly’. This column should have value ‘Found’ if the row entry in ‘Number’ is empty.")
    display(lbl10)
    main_df["Anomaly"] = main_df.apply(lambda x: "Found" if x["Number"] == "" else "", axis = 1)

    lbl11 = widgets.Label("11. Insert a new column “Date” by inserting the current date. [ format: mmm-dd-yyyy ]")
    display(lbl11)
    dt_now = datetime.now()
    main_df["Date"] = main_df.apply(lambda x: dt_now.strftime("%b-%d-%Y"), axis = 1)

    lbl12 = widgets.Label("12. Insert a new column “Time” by inserting the current time. [ format: hh-mm-ss ]")
    display(lbl12)
    main_df["Time"] = main_df.apply(lambda x: dt_now.strftime("%H-%M-%S"), axis = 1)

    lbl13 = widgets.Label("13. Create a new column ‘Comment’. This column should have value ‘Non office hours of working’ if the row entry in ‘Time’ is not between 9 am to 7 pm.")
    display(lbl13)
    main_df["Comment"] = main_df.apply(lambda x: "Non office hours of working" if int(x["Time"][:2]) < 9 or int(x["Time"][:2]) > 18 else "", axis = 1)

    lbl14 = widgets.Label(f"14. Export the data frames to {str(exportableFiles.value)} format(s).")
    display(lbl14)
    for exportFormat in exportableFiles.value:
        if exportFormat == "Excel":
            # excel
            main_df.to_excel('main_df.xlsx', index = False)
            display(FileLink('main_df.xlsx'))
        elif exportFormat == "CSV":
            # csv
            main_df.to_csv('main_df.csv', index = False)
            display(FileLink('main_df.csv'))
        elif exportFormat == "HTML":
            # html
            main_df.to_html('main_df.html', index = False)
            display(FileLink('main_df.html'))
        elif exportFormat == "JSON":
            # json
            main_df.to_json('main_df.json', orient="records")
            display(FileLink('main_df.json'))

    lbl15 = widgets.Label("15. Measure and display how much time it takes to execute the code. Optimise your code to reduce the time.")
    display(lbl15)
    end_time = datetime.now()
    execution_time = end_time - start_time
    lbl16 = widgets.Label(f"Total Execution Time: {execution_time}")
    display(lbl16)

In [30]:
lbl_num_rows = widgets.Label("Enter the number of records you want: ")
display(lbl_num_rows)
display(rowsInput)

lbl_output_formats = widgets.Label("Select the file formats you want as output: ")
display(lbl_output_formats)
display(exportableFiles)

display(submitBtn)

submitBtn.on_click(Main_Function)

Label(value='Enter the number of records you want: ')

IntText(value=20)

Label(value='Select the file formats you want as output: ')

SelectMultiple(index=(0,), options=('Excel', 'CSV', 'HTML', 'JSON'), value=('Excel',))

Button(description='Submit', style=ButtonStyle())

Starting the main function
Start time: 2024-12-30 11:18:43.868773

Label(value='1. Create a pandas data frame consisting of 4 columns and 120 rows.')

Label(value='2. Column 1 should have values between 0 to 25.')

Label(value='3. Column 2 should have values between -10 to 10.')

Label(value='4. Column 3 should have values by multiplying column 1 and 2.')

Label(value='5. Column 4 should have value “Positive” if column 3 is a positive number.')

Label(value='6. Column 4 should have value “Negative” if column 3 is a negative number.')

Label(value='7. Create a new data frame of 1 column and 20 rows having random alphanumeric values of size 5. N…

Label(value='8. Merge both the data frames to one single data frame.')

Label(value='9. Create a 2 new columns i.e. ‘Word’ and ‘Number’ by separating the alphabets and numbers from c…

Label(value='10. Create a new column ‘Anomaly’. This column should have value ‘Found’ if the row entry in ‘Num…

Label(value='11. Insert a new column “Date” by inserting the current date. [ format: mmm-dd-yyyy ]')

Label(value='12. Insert a new column “Time” by inserting the current time. [ format: hh-mm-ss ]')

Label(value='13. Create a new column ‘Comment’. This column should have value ‘Non office hours of working’ if…

Label(value="14. Export the data frames to ('CSV', 'HTML', 'JSON') format(s).")

C:\Users\Smit\Desktop\Temp-Imp\AIML\Projects\PGP-AIML-GreatLearning\Introduction-to-Python\main_df.csv

C:\Users\Smit\Desktop\Temp-Imp\AIML\Projects\PGP-AIML-GreatLearning\Introduction-to-Python\main_df.html

C:\Users\Smit\Desktop\Temp-Imp\AIML\Projects\PGP-AIML-GreatLearning\Introduction-to-Python\main_df.json

Label(value='15. Measure and display how much time it takes to execute the code. Optimise your code to reduce …

Label(value='Total Execution Time: 0:00:00.209551')