## INTRODUCTION TO PYTHON

### Part I

In [1]:
# Import Required Modules
# string to get all letters and digits
import string

# for random operation
import random

# for date and time operation
from datetime import datetime

# numpy and pandas for numbers and DataFrame operation
import numpy as np
import pandas as pd

In [2]:
# start time
start_time = datetime.now()
start_time

datetime.datetime(2024, 12, 20, 16, 49, 52, 884410)

> 1. Create a pandas data frame consisting of 4 columns and 20 rows.
> 2. Column 1 should have values between 0 to 25.

In [3]:
col_1 = pd.Series(np.random.randint(0, 25, 20))
col_1

0      0
1     23
2     17
3     11
4     22
5      3
6      7
7     18
8      3
9     11
10     0
11     1
12    21
13    23
14    17
15    10
16    14
17    22
18    11
19    10
dtype: int32

> 3. Column 2 should have values between -10 to 10.

In [4]:
col_2 = pd.Series(np.random.randint(-10, 10, 20))
col_2

0     -9
1     -4
2      0
3      8
4      0
5     -8
6      3
7     -8
8      3
9      8
10     5
11     7
12    -7
13     1
14    -2
15     7
16   -10
17     9
18     1
19     6
dtype: int32

> 4. Column 3 should have values by multiplying column 1 and 2.

In [5]:
col_3 = pd.Series(col_1 * col_2)
col_3

0       0
1     -92
2       0
3      88
4       0
5     -24
6      21
7    -144
8       9
9      88
10      0
11      7
12   -147
13     23
14    -34
15     70
16   -140
17    198
18     11
19     60
dtype: int32

In [6]:
df = pd.DataFrame({"col_1": col_1, "col_2": col_2, "col_3": col_3})
df

    col_1  col_2  col_3
0       0     -9      0
1      23     -4    -92
2      17      0      0
3      11      8     88
4      22      0      0
5       3     -8    -24
6       7      3     21
7      18     -8   -144
8       3      3      9
9      11      8     88
10      0      5      0
11      1      7      7
12     21     -7   -147
13     23      1     23
14     17     -2    -34
15     10      7     70
16     14    -10   -140
17     22      9    198
18     11      1     11
19     10      6     60

> 5. Column 4 should have value “Positive” if column 3 is a positive number.
> 6. Column 4 should have value “Negative” if column 3 is a negative number.

In [7]:
isPositiveOrNegative = lambda num: "Positive" if num > 0 else "Negative" if num < 0 else None
df["col_4"] = df["col_3"].apply(isPositiveOrNegative)
df

    col_1  col_2  col_3     col_4
0       0     -9      0      None
1      23     -4    -92  Negative
2      17      0      0      None
3      11      8     88  Positive
4      22      0      0      None
5       3     -8    -24  Negative
6       7      3     21  Positive
7      18     -8   -144  Negative
8       3      3      9  Positive
9      11      8     88  Positive
10      0      5      0      None
11      1      7      7  Positive
12     21     -7   -147  Negative
13     23      1     23  Positive
14     17     -2    -34  Negative
15     10      7     70  Positive
16     14    -10   -140  Negative
17     22      9    198  Positive
18     11      1     11  Positive
19     10      6     60  Positive

> 7. Create a new data frame of 1 column and 20 rows having random alphanumeric values of size 5. Name the column as ‘Password’

In [8]:
def genedatePassword(str_len):
    source_str = string.ascii_letters + string.digits
    rand_str = ""
    for i in range(0, str_len):
        rand_str += source_str[random.randint(0, (len(source_str) - 1))]
    
    return rand_str

In [9]:
df_2 = pd.DataFrame(data = np.full(20, 5), columns = ["Password"])
df_2 = df_2.astype('object')
df_2["Password"] = df_2["Password"].apply(genedatePassword)
df_2

   Password
0     bncUD
1     uQr7P
2     KTsqL
3     qCxh4
4     vyKCe
5     TWWQ5
6     UXQhG
7     nxCAf
8     mlbW0
9     OZFNO
10    nyM89
11    wcoAO
12    o9RYl
13    GyZro
14    1Xlg7
15    jNycG
16    gtzM5
17    XNyjz
18    kqq7w
19    WouY3

> 8. Merge both the data frames to one single data frame.

In [10]:
df = pd.concat([df, df_2], axis = 1)
df

    col_1  col_2  col_3     col_4 Password
0       0     -9      0      None    bncUD
1      23     -4    -92  Negative    uQr7P
2      17      0      0      None    KTsqL
3      11      8     88  Positive    qCxh4
4      22      0      0      None    vyKCe
5       3     -8    -24  Negative    TWWQ5
6       7      3     21  Positive    UXQhG
7      18     -8   -144  Negative    nxCAf
8       3      3      9  Positive    mlbW0
9      11      8     88  Positive    OZFNO
10      0      5      0      None    nyM89
11      1      7      7  Positive    wcoAO
12     21     -7   -147  Negative    o9RYl
13     23      1     23  Positive    GyZro
14     17     -2    -34  Negative    1Xlg7
15     10      7     70  Positive    jNycG
16     14    -10   -140  Negative    gtzM5
17     22      9    198  Positive    XNyjz
18     11      1     11  Positive    kqq7w
19     10      6     60  Positive    WouY3

> 9. Create a 2 new columns i.e. ‘Word’ and ‘Number’ by separating the alphabets and numbers from column “Password”.

In [11]:
def extractAlphabetsOrNumbers(str, return_type):
    return_val = ""
    for ch in str:
        if return_type == "Word" and ch.isalpha():
            return_val += ch
        elif return_type == "Number" and ch.isdigit():
            return_val += ch
        
    return return_val

In [12]:
df["Word"] = df.apply(lambda x: extractAlphabetsOrNumbers(x["Password"], "Word"), axis = 1)
df["Number"] = df.apply(lambda x: extractAlphabetsOrNumbers(x["Password"], "Number"), axis = 1)
df

    col_1  col_2  col_3     col_4 Password   Word Number
0       0     -9      0      None    bncUD  bncUD
1      23     -4    -92  Negative    uQr7P   uQrP      7
2      17      0      0      None    KTsqL  KTsqL
3      11      8     88  Positive    qCxh4   qCxh      4
4      22      0      0      None    vyKCe  vyKCe
5       3     -8    -24  Negative    TWWQ5   TWWQ      5
6       7      3     21  Positive    UXQhG  UXQhG
7      18     -8   -144  Negative    nxCAf  nxCAf
8       3      3      9  Positive    mlbW0   mlbW      0
9      11      8     88  Positive    OZFNO  OZFNO
10      0      5      0      None    nyM89    nyM     89
11      1      7      7  Positive    wcoAO  wcoAO
12     21     -7   -147  Negative    o9RYl   oRYl      9
13     23      1     23  Positive    GyZro  GyZro
14     17     -2    -34  Negative    1Xlg7    Xlg     17
15     10      7     70  Positive    jNycG  jNycG
16     14    -10   -140  Negative    gtzM5   gtzM      5
17     22      9    198  Positive    XNyjz  XNyjz
18     11      1     11  Positive    kqq7w   kqqw      7
19     10      6     60  Positive    WouY3   WouY      3

> 10. Create a new column ‘Anomaly’. This column should have value ‘Found’ if the row entry in ‘Number’ is empty.

In [13]:
df["Anomaly"] = df.apply(lambda x: "Found" if x["Number"] == "" else "", axis = 1)
df

    col_1  col_2  col_3     col_4 Password   Word Number Anomaly
0       0     -9      0      None    bncUD  bncUD          Found
1      23     -4    -92  Negative    uQr7P   uQrP      7
2      17      0      0      None    KTsqL  KTsqL          Found
3      11      8     88  Positive    qCxh4   qCxh      4
4      22      0      0      None    vyKCe  vyKCe          Found
5       3     -8    -24  Negative    TWWQ5   TWWQ      5
6       7      3     21  Positive    UXQhG  UXQhG          Found
7      18     -8   -144  Negative    nxCAf  nxCAf          Found
8       3      3      9  Positive    mlbW0   mlbW      0
9      11      8     88  Positive    OZFNO  OZFNO          Found
10      0      5      0      None    nyM89    nyM     89
11      1      7      7  Positive    wcoAO  wcoAO          Found
12     21     -7   -147  Negative    o9RYl   oRYl      9
13     23      1     23  Positive    GyZro  GyZro          Found
14     17     -2    -34  Negative    1Xlg7    Xlg     17
15     10      7     70  Positive    jNycG  jNycG          Found
16     14    -10   -140  Negative    gtzM5   gtzM      5
17     22      9    198  Positive    XNyjz  XNyjz          Found
18     11      1     11  Positive    kqq7w   kqqw      7
19     10      6     60  Positive    WouY3   WouY      3

> 11. Insert a new column “Date” by inserting the current date. [ format: mmm-dd-yyyy ]

In [14]:
dt_now = datetime.now()
df["Date"] = df.apply(lambda x: dt_now.strftime("%b-%d-%Y"), axis = 1)
df

    col_1  col_2  col_3     col_4 Password   Word Number Anomaly         Date
0       0     -9      0      None    bncUD  bncUD          Found  Dec-20-2024
1      23     -4    -92  Negative    uQr7P   uQrP      7          Dec-20-2024
2      17      0      0      None    KTsqL  KTsqL          Found  Dec-20-2024
3      11      8     88  Positive    qCxh4   qCxh      4          Dec-20-2024
4      22      0      0      None    vyKCe  vyKCe          Found  Dec-20-2024
5       3     -8    -24  Negative    TWWQ5   TWWQ      5          Dec-20-2024
6       7      3     21  Positive    UXQhG  UXQhG          Found  Dec-20-2024
7      18     -8   -144  Negative    nxCAf  nxCAf          Found  Dec-20-2024
8       3      3      9  Positive    mlbW0   mlbW      0          Dec-20-2024
9      11      8     88  Positive    OZFNO  OZFNO          Found  Dec-20-2024
10      0      5      0      None    nyM89    nyM     89          Dec-20-2024
11      1      7      7  Positive    wcoAO  wcoAO          Found  Dec-20-2024
12     21     -7   -147  Negative    o9RYl   oRYl      9          Dec-20-2024
13     23      1     23  Positive    GyZro  GyZro          Found  Dec-20-2024
14     17     -2    -34  Negative    1Xlg7    Xlg     17          Dec-20-2024
15     10      7     70  Positive    jNycG  jNycG          Found  Dec-20-2024
16     14    -10   -140  Negative    gtzM5   gtzM      5          Dec-20-2024
17     22      9    198  Positive    XNyjz  XNyjz          Found  Dec-20-2024
18     11      1     11  Positive    kqq7w   kqqw      7          Dec-20-2024
19     10      6     60  Positive    WouY3   WouY      3          Dec-20-2024

> 12. Insert a new column “Time” by inserting the current time. [ format: hh-mm-ss ]

In [15]:
dt_now = datetime.now()
df["Time"] = df.apply(lambda x: dt_now.strftime("%H-%M-%S"), axis = 1)
df

,col_1,col_2,col_3,col_4,Password,Word,Number,Anomaly,Date,Time
0,0,-9,0,None,bncUD,bncUD,,Found,Dec-20-2024,16-49-53
1,23,-4,-92,Negative,uQr7P,uQrP,7,,Dec-20-2024,16-49-53
2,17,0,0,None,KTsqL,KTsqL,,Found,Dec-20-2024,16-49-53
3,11,8,88,Positive,qCxh4,qCxh,4,,Dec-20-2024,16-49-53
4,22,0,0,None,vyKCe,vyKCe,,Found,Dec-20-2024,16-49-53
5,3,-8,-24,Negative,TWWQ5,TWWQ,5,,Dec-20-2024,16-49-53
6,7,3,21,Positive,UXQhG,UXQhG,,Found,Dec-20-2024,16-49-53
7,18,-8,-144,Negative,nxCAf,nxCAf,,Found,Dec-20-2024,16-49-53
8,3,3,9,Positive,mlbW0,mlbW,0,,Dec-20-2024,16-49-53
9,11,8,88,Positive,OZFNO,OZFNO,,Found,Dec-20-2024,16-49-53
10,0,5,0,None,nyM89,nyM,89,,Dec-20-2024,16-49-53
11,1,7,7,Positive,wcoAO,wcoAO,,Found,Dec-20-2024,16-49-53
12,21,-7,-147,Negative,o9RYl,oRYl,9,,Dec-20-2024,16-49-53
13,23,1,23,Positive,GyZro,GyZro,,Found,Dec-20-2024,16-49-53
14,17,-2,-34,Negative,1Xlg7,Xlg,17,,Dec-20-2024,16-49-53
15,10,7,70,Positive,jNycG,jNycG,,Found,Dec-20-2024,16-49-53
16,14,-10,-140,Negative,gtzM5,gtzM,5,,Dec-20-2024,16-49-53
17,22,9,198,Positive,XNyjz,XNyjz,,Found,Dec-20-2024,16-49-53
18,11,1,11,Positive,kqq7w,kqqw,7,,Dec-20-2024,16-49-53
19,10,6,60,Positive,WouY3,WouY,3,,Dec-20-2024,16-49-53

> 13. Create a new column ‘Comment’. This column should have value ‘Non office hours of working’ if the row entry in ‘Time’ is not between 9 am to 7 pm.

In [16]:
df["Comment"] = df.apply(lambda x: "Non office hours of working" if int(x["Time"][:2]) < 9 or int(x["Time"][:2]) > 18 else "", axis = 1)
df

,col_1,col_2,col_3,col_4,Password,Word,Number,Anomaly,Date,Time,Comment
0,0,-9,0,None,bncUD,bncUD,,Found,Dec-20-2024,16-49-53,
1,23,-4,-92,Negative,uQr7P,uQrP,7,,Dec-20-2024,16-49-53,
2,17,0,0,None,KTsqL,KTsqL,,Found,Dec-20-2024,16-49-53,
3,11,8,88,Positive,qCxh4,qCxh,4,,Dec-20-2024,16-49-53,
4,22,0,0,None,vyKCe,vyKCe,,Found,Dec-20-2024,16-49-53,
5,3,-8,-24,Negative,TWWQ5,TWWQ,5,,Dec-20-2024,16-49-53,
6,7,3,21,Positive,UXQhG,UXQhG,,Found,Dec-20-2024,16-49-53,
7,18,-8,-144,Negative,nxCAf,nxCAf,,Found,Dec-20-2024,16-49-53,
8,3,3,9,Positive,mlbW0,mlbW,0,,Dec-20-2024,16-49-53,
9,11,8,88,Positive,OZFNO,OZFNO,,Found,Dec-20-2024,16-49-53,
10,0,5,0,None,nyM89,nyM,89,,Dec-20-2024,16-49-53,
11,1,7,7,Positive,wcoAO,wcoAO,,Found,Dec-20-2024,16-49-53,
12,21,-7,-147,Negative,o9RYl,oRYl,9,,Dec-20-2024,16-49-53,
13,23,1,23,Positive,GyZro,GyZro,,Found,Dec-20-2024,16-49-53,
14,17,-2,-34,Negative,1Xlg7,Xlg,17,,Dec-20-2024,16-49-53,
15,10,7,70,Positive,jNycG,jNycG,,Found,Dec-20-2024,16-49-53,
16,14,-10,-140,Negative,gtzM5,gtzM,5,,Dec-20-2024,16-49-53,
17,22,9,198,Positive,XNyjz,XNyjz,,Found,Dec-20-2024,16-49-53,
18,11,1,11,Positive,kqq7w,kqqw,7,,Dec-20-2024,16-49-53,
19,10,6,60,Positive,WouY3,WouY,3,,Dec-20-2024,16-49-53,

> 14. Export the data frames to excel, csv, html and json formats.

In [17]:
# excel
df.to_excel('df.xlsx', index = False)
# csv
df.to_csv('df.csv', index = False)
# html
df.to_html('df.html', index = False)
# json
df.to_json('df.json', orient="records")

> 15. Measure and display how much time it takes to execute the code. Optimise your code to reduce the time.

In [18]:
# end time
end_time = datetime.now()
end_time

datetime.datetime(2024, 12, 20, 16, 49, 53, 618131)

In [19]:
execution_time = end_time - start_time
print("Total Execution Time:", execution_time)

Total Execution Time: 0:00:00.733721